<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p><span data-controller="typed-js"></span></p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis provident rem nihil! Dolorum sunt alias cum esse temporibus harum dolor qui hic ipsa quibusdam laboriosam libero est, minima consequatur. Suscipit.
Libero distinctio saepe, iusto dolor exercitationem corrupti commodi ab, facere quam voluptas eos vitae asperiores at fuga suscipit, quasi repudiandae modi et nesciunt. Similique ducimus aperiam et voluptas perferendis itaque!
Pariatur dolor non tenetur necessitatibus. Magnam, excepturi ab officiis ducimus similique iste fugit officia incidunt maxime sapiente nulla facere laboriosam consequatur impedit quidem quisquam quae labore doloribus quia cupiditate. Placeat?
Veritatis corrupti odio, distinctio necessitatibus corporis dolorum nostrum officia alias unde ducimus velit rerum error porro tempora deleniti inventore doloremque quis adipisci itaque possimus. Mollitia, iusto! Dicta dolore autem tenetur.
Soluta est ipsam quas repudiandae cumque animi aperiam. Quam eius facilis autem neque temporibus odit vel accusamus similique rem. A, vel. Aliquam magnam aspernatur neque natus expedita, laboriosam quod non.
Sequi laborum neque necessitatibus amet ipsam omnis saepe, est eius natus, vitae aspernatur consequuntur molestias laudantium debitis hic, culpa impedit expedita. Voluptatibus quisquam, nesciunt beatae consequuntur aliquid suscipit sequi nulla?
Adipisci dolor a exercitationem quo impedit inventore est cumque, ipsa distinctio eum necessitatibus eos sint fugiat expedita, officia voluptatibus ipsum amet nihil aperiam illum architecto! Debitis porro numquam odio deleniti.
Totam, asperiores facilis ipsum accusamus mollitia laborum quam quidem dolores recusandae qui quibusdam ad eligendi facere harum ducimus. Ipsum, magni. Magni a velit molestiae alias maiores architecto consequatur numquam omnis.
Ipsum reprehenderit incidunt, iusto libero veritatis vero explicabo ut doloremque ullam, obcaecati eveniet consectetur rem accusantium! Ipsum beatae id deserunt itaque enim obcaecati! Ut dolorum, maiores laborum exercitationem ullam ex?
Enim laborum cum voluptas beatae sint incidunt corrupti alias nam eligendi pariatur quod debitis deserunt molestias expedita ab cumque odio temporibus voluptatum, voluptatem dignissimos nostrum vero deleniti! Aperiam, cum accusantium.
Debitis, distinctio fugiat. Optio omnis obcaecati quidem sint. Sit, distinctio perspiciatis eum accusamus nesciunt tempora, hic maiores voluptatibus, commodi molestias in soluta nam. In, excepturi corporis numquam incidunt nihil quisquam.
Cum, commodi. Quasi rerum libero non nihil commodi ducimus quis aut temporibus! Voluptatibus ducimus tempore unde quis. Necessitatibus, obcaecati? Voluptas enim, nostrum commodi explicabo iusto pariatur unde repudiandae cum similique?
Quo ratione esse possimus. Tempore incidunt blanditiis ipsa cum assumenda quae corporis eius, in esse! Laboriosam ratione, consequuntur doloremque nobis exercitationem inventore ducimus obcaecati impedit autem. Natus omnis ipsa earum.
Nam nisi rerum nesciunt nulla voluptatibus, error libero sapiente dolorum obcaecati repudiandae, officia alias iure? Necessitatibus quasi aperiam, itaque enim accusamus corrupti praesentium nulla laborum provident consequatur a explicabo sequi.
Non veritatis nostrum quae. Sapiente nobis quos accusantium magnam obcaecati minus, nulla expedita cupiditate quod ratione, tenetur tempore dignissimos suscipit earum alias! Cumque sunt dignissimos recusandae modi quasi laboriosam quisquam?
Earum dolorum nihil totam, aut quia eaque consectetur ratione explicabo nostrum magni repudiandae necessitatibus sunt fugit tenetur sit dolores. Dolor similique repellat quisquam saepe dolorum explicabo sit incidunt soluta consequuntur!
Non voluptatem molestias rem quasi velit voluptates similique blanditiis sunt consectetur? Perferendis doloremque nihil perspiciatis pariatur fuga assumenda, unde sed totam aliquam qui illum illo impedit, numquam tempora nulla id.
Ipsum voluptatibus illum id perferendis officia numquam expedita obcaecati similique molestiae, cumque dolorem molestias suscipit assumenda iusto, culpa minima laudantium, blanditiis quas sapiente laboriosam animi rem? Minima eveniet sed impedit.
Fugit cupiditate ad nulla doloribus dolorum soluta facilis fugiat dolores exercitationem magni. Repellendus, repellat? Nulla eius repudiandae laudantium expedita esse culpa unde magni dolore obcaecati. Odit exercitationem harum maiores dolores!
Sapiente molestiae reprehenderit quae tempore velit, accusantium, pariatur distinctio, non rerum a deleniti. Magnam officiis cum praesentium at quaerat reprehenderit, quo sint a? Autem mollitia, unde est ea obcaecati ab?
Eaque, porro. Enim recusandae dolor sapiente dignissimos, possimus alias consectetur ducimus exercitationem magni vero impedit excepturi, similique velit odio! Voluptate est ipsa eius fugiat aliquid nostrum libero magni vel ratione.
Consequuntur provident eius ipsum dolor, numquam dolores rerum quae totam. Similique illo aperiam quos laudantium repudiandae tempora, et blanditiis molestiae rem repellat expedita nesciunt sapiente molestias eveniet. Vero, ducimus at?
Odit qui quam laudantium nihil exercitationem atque asperiores rem laboriosam, modi voluptatum laborum ab placeat nobis harum maiores eos debitis consectetur, deleniti ipsum. Alias placeat nam assumenda, asperiores impedit sequi.
Repudiandae ad cum quidem voluptate, eaque assumenda quaerat dolorum ratione, pariatur maiores repellat, qui dicta! Iusto voluptas nesciunt corporis obcaecati, veritatis aperiam voluptatibus aut repellendus debitis tempore nostrum sequi cumque?
Odio facilis ipsum perspiciatis dolor deleniti! Corrupti porro ullam, libero amet fugiat voluptate. Tenetur, quaerat tempore? Ea qui quasi dolorum totam maxime nam, omnis, iure similique blanditiis quam nemo tenetur.
Debitis commodi quis fugiat, odit explicabo, dolorum sit ullam perferendis corrupti quibusdam aperiam id mollitia! Odio itaque unde totam ea quos tempora, deserunt ducimus quaerat laboriosam, facere, libero velit vitae!
Facere, obcaecati nulla. Eius, consequuntur. Dolor minima corrupti accusamus? Blanditiis quo illum autem maxime quia molestiae accusantium incidunt, error delectus sequi culpa amet repellat placeat et, natus consequatur ipsum unde?
Officiis cum possimus aliquid perferendis libero! Cum animi doloribus eligendi. Assumenda libero doloremque et provident officiis, modi cum voluptas nostrum eius atque voluptatem earum, dicta ratione repellat ipsam a! Ducimus!
Veniam soluta ab saepe temporibus, ea alias magni, eum dolore dolores quis in officia dolorum accusamus eligendi dolor consequuntur rerum dicta qui sit quos. Dignissimos totam exercitationem veritatis ipsa aperiam!
Accusamus eum quaerat officiis explicabo, dolore voluptatem omnis qui non dignissimos, commodi, pariatur hic voluptate eaque dolorum voluptatibus adipisci doloremque quo laudantium enim quae. Amet ab laudantium omnis reprehenderit veritatis?</p>
